body {
    background-image: url("/rain.jpg");
    color: ghostwhite;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    width: 100vw;
    height: 100vh;
}
canvas {
    position: absolute;
}